<h1><%=title%><h1>

<h3><%=subTitle%> is a  <%=sex%> </h3>
<h3><%=subTitle%> and  <%=friend%> are movie buddy</h3>
<h3><%=subTitle%> likes to <%=hobby%></h3>
<h3><%=subTitle%> thinks <%=friend%> is  <%=thinks%></h3>
<h3><%=subTitle%> always <%=action%> with <%=friend%></h3>
<h3><%=subTitle%> loves <%=expects%> from <%=friend%></h3>
